@charset "ISO-8859-1";


@media(min-width:360px)
{
    *{
        max-width: 100%;
    }
    #navbar{
        position: sticky;
        top:0;
        z-index: 100;
        padding:0.5rem 3rem ;
        font-style: italic;
        box-shadow: 5px;
        background-color: white;
    }
    .navbar-brand{
        margin-left: 10px;
            color: #525153 !important;
            font-weight: 900;
        
    }
    #mybutton{
        font-size: 10px;
        width:25px ;
        height: 25px;
    }
    #navbarSupportedContent{
        margin-left: 60px;
        text-align: end;
        font-weight: 700;
    }

    
#navbarSupportedContent a:hover{
    border-top:2px solid rgb(249, 109, 109);
    color: chocolate;                                                                                       
}
#navbarSupportedContent button{
    color: white;
}
#navbarSupportedContent button a:hover{
    inset: 4px 4px 4px;
}
    
.firstsec{
    background-color: #E2E7E1;
}
.topline{
   
    font-weight: 700;
    font-size: 30px;
    color: rgb(1, 87, 28);
}
.introline{

    font-weight: 700;
    font-style: italic;
    font-size: 70px;
    color: #15006B;
    text-shadow: 2px 2px 2px #15006B;
    
}
.content1{
    text-align: justify;
    font-size: 20px;
}

.secondsec{
    background-color: rgb(0, 0, 0);
}
.heading{
    text-align: center;
    font-size: 60px;
    color: rgb(0, 21, 253);
    font-weight: 600;
    mix-blend-mode: difference;
}
.co-brands{
    background-color: rgb(189, 188, 186);
    
}

.maincontent{
    font-size:40px ;
    text-align: center;
    color: white;
}

.footer{
    background-color: #02062d;
    color: aliceblue;
    text-align: center;
    
}
.love{
    color: #e5283f;
    font-weight: 700;
    font-size: 30px;
    border-radius: 25px;
    background-color: rgb(255, 255, 255);
    padding: 0px 15px 2px 15px;

}
.firstline{
    font-size: 40px;
    color:rgb(0, 21, 253) ;
    font-weight: 700;
    font-style: italic;
}
.secondline{
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}
}

@media(min-width:768px)
{
*{
    max-width: 100%;
}

}


@media(min-width:1024px)
{
    *{
        max-width: 100%;
    }
    #navbar{
        position: sticky;
        top:0;
        z-index: 100;
        padding:0.5rem 3rem ;
        font-style: italic;
        box-shadow: 5px;
        background-color: white;
    }
    .navbar-brand{
        color: #525153 !important;
        font-weight: 900;
    }
    
    #navbarSupportedContent{
        font-weight: 700;
        margin-left: 250px;
    }
    
    
    #navbarSupportedContent a:hover{
        border-top:3px solid rgb(249, 109, 109);
        color: chocolate;
    }
    #navbarSupportedContent button{
        color: white;
    }
    #navbarSupportedContent button a:hover{
        inset: 4px 4px 4px;
    }
    
    #navbutton{
        margin-left: 250px;
        font-weight: 600;
        color: aliceblue;
    }

.firstsec{
    background-color: #E2E7E1;
}
.topline{
   
    font-weight: 700;
    font-size: 30px;
    color: rgb(1, 87, 28);
}
.introline{

    font-weight: 700;
    font-style: italic;
    font-size: 70px;
    color: #15006B;
    text-shadow: 2px 2px 2px #15006B;
    
}
.content1{
    text-align: justify;
    font-size: 20px;
}


.secondsec{
    background-color: rgb(0, 0, 0);
}
.heading{
    text-align: center;
    font-size: 60px;
    color: rgb(0, 21, 253);
    font-weight: 600;
    mix-blend-mode: difference;
}
.co-brands{
    background-color: rgb(189, 188, 186);
    
}

.maincontent{
    font-size:40px ;
    text-align: center;
    color: white;
}

.footer{
    background-color: #02062d;
    color: aliceblue;
    text-align: center;
    
}
.love{
    color: #e5283f;
    font-weight: 700;
    font-size: 30px;
    border-radius: 25px;
    background-color: rgb(255, 255, 255);
    padding: 0px 15px 2px 15px;

}
.firstline{
    font-size: 40px;
    color:rgb(0, 21, 253) ;
    font-weight: 700;
    font-style: italic;
}
.secondline{
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}
}